
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-register input {
   border-radius: 0;
   margin-bottom: -1px;
  }
  
.dashboard-partikels{
  width: 300px;
  height: 150px;

}


a .riwayat-order {
  background-color: rgb(46, 68, 105);
  color: white;
  text-decoration: none;
}

a .riwayat-order:hover{
  color:  rgb(46, 68, 105);
  text-decoration: none;
  background-color: white;
}

.navbar, .dropdown-menu{
  background-color: rgb(46, 68, 105);
}

a .cari-kamar{
  background-color: rgb(46, 68, 105);
  color: white;
  
}
a .cari-kamar:hover{
  background-color: rgb(255, 166, 52);
  color: rgb(37, 37, 37);
  
}

a .button-me{
  background-color: rgb(46, 68, 105) ;
  color: white;
}

a .button-me:hover{
  background-color: rgb(255, 166, 52);
  color: rgb(37, 37, 37);
}

.bluedark{
  background-color: rgb(46, 68, 105) ;
}

.orange{
  background-color: rgb(255, 166, 52);
}

.dark{
  background-color:  rgb(37, 37, 37) ;
}

.purple{
  background-color:   rgb(74, 79, 170) ;
}

